<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Reverse Proxy to Backend" stopProcessing="true">
          <match url="^api/(.*)$" />
          <action type="Rewrite" url="http://192.168.180.26:8000/api/{R:1}" />
        </rule>
        <!-- Otras reglas para Angular -->
      </rules>
    </rewrite>
  </system.webServer>
</configuration>